<div class="container bg-white p-5">
    <div class="row border-bottom pb-3 m-0">
        <div class="col-sm-12 col-md no-padding">
            <h1>Contact us</h1>
            <h5>Subheader</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-sm-12 col-md-4 align-self-center no-padding about-img">
            <img src="../../../assets/location.png" alt="About image" class="rounded w-100">
        </div>
    </div>
    <div class="border rounded p-3 mt-4">
        <h5 class="border-bottom pb-3">Send us a message</h5>
        <form action="mailto:contact@youjob.com" method="post" enctype="text/plain">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Job information">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea type="text" rows="6" cols="50" name="message" class="form-control" id="message" placeholder="Message"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</div>