.search-bar
        width: 100%

.search-bar-body 
        margin: auto
        width: 100%
        overflow-x: auto
        white-space: nowrap
        padding: 0.25em


.search-bar-footer 
        margin: auto
        width: 100%
        padding: 0.25em

select 
        color: #C0C0C0
.search-item-result
        width: 100%
        box-sizing: border-box
        padding-left: 1em
        padding-right: 1em
