
.filter-wrap
        flex-wrap: nowrap

.search-header
        width: 100%


.search-nav 
        margin: auto
        width: 100%
        overflow-x: auto
        white-space: nowrap
        padding: 0.25em

.search-row 
        margin: auto
        width: 100%
        padding: 0.25em

select 
        color: #C0C0C0
        width: 100%
        margin: auto
.search-item-result
        width: 100%
        box-sizing: border-box
        padding-left: 1em
        padding-right: 1em

.search-content 
        margin: auto
        overflow-x: hidden

.search-body
        width: 100%

.infinite-scroll 
        overflow-y: auto
        overflow-x: hidden
        height: 65vh


@media (max-width: 576px) 
        .btn-apply
                font-weight: bold


@media (min-width: 576px) 
        .search-nav 
                margin: auto
                width: 100%
                overflow-x: hidden
                white-space: nowrap
                padding: 0.25em
                
        .filter-wrap
                flex-wrap: wrap
                justify-content: center
                

        .search-content 
                width: 100%
                margin: auto
                margin-top: 5em
                overflow-x: hidden
                
        select
                width: 80%
                margin: auto
        .btn-apply
                margin: auto
        .infinite-scroll 
                overflow-y: auto
                overflow-x: hidden
                height: 90vh

        .v-center
                margin-top: 25vh

