<div class="container bg-white p-5">
    <div class="row border-bottom pb-3 m-0">
        <div class="col-sm-12 col-md no-padding">
            <h1>About us</h1>
            <h5>Subheader</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-sm-12 col-md-4 align-self-center no-padding about-img">
            <img src="../../../assets/about.jpg" alt="About image" class="rounded w-100">
        </div>
    </div>
    <div class="mt-4">
        <div>
            <h4 class="text-center">The tool you need to find the right job</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>

        <div class="card-container row justify-content-center">
            <div class="card col-md col-sm-12">
                <img class="align-self-center" src="../../../assets/about.jpg" alt="">
                <div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card col-md col-sm-12">
                <img class="align-self-center" src="../../../assets/about.jpg" alt="">
                <div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="card col-md col-sm-12">
                <img class="align-self-center" src="../../../assets/about.jpg" alt="">
                <div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</div>