<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">YouJob is a global online employment solution for people seeking jobs and the employers
          who need great people. We've been doing this for more than 20 years, and have expanded from our roots as a
          "job board" to a global provider of a full array of job seeking, career management, recruitment and talent
          management products and services. At the heart of our success and our future is innovation: We are changing
          the way people think about work, and we're helping them actively improve their lives and their workforce
          performance with new technology, tools and practices</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">C</a></li>
          <li><a href="#">UI Design</a></li>
          <li><a href="#">PHP</a></li>
          <li><a href="#">Java</a></li>
          <li><a href="#">Android</a></li>
          <li><a href="#">Templates</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">YouJob</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a></li>
          <li><a class="twitter" href="#"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
          <li><a class="dribbble" href="#"><fa-icon [icon]="['fab', 'dribbble']"></fa-icon></a></li>
          <li><a class="linkedin" href="#"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>