html,body
    height: 100%
    background-color: #EDEDED

$ligth-gray:#EDEDED
$primary:#52A654
$place-holder-gray:#C0C0C0
$dark-gray:#5F5F5F
$facebook-color:#435F9C


.text-center
    text-align:center


.title
    color: $place-holder-gray
    font-size: 1.5em !important