html,body
    height: 100%
    background-color: #EDEDED

$ligth-gray:#EDEDED
$primary:#422A77
$secondary:#64549F
$apply-color:#4973A6
$place-holder-gray:#C0C0C0
$dark-gray:#5F5F5F
$facebook-color:#435F9C
$white:#ffffff
$read-more-color:#63539F

.border-primary
    border: 0.1em solid $primary !important

.bg-primary
    background-color:$primary !important
    color: $white !important

.bg-secondary
    background-color:$secondary !important
    color: $white !important
    
.title
    color: $dark-gray
    font-weight: bold
    font-size: 1em !important

.bg-white
    background-color: $white

.radius
    box-sizing: border-box
    border-radius: 0.20em

.shadow
        box-shadow: 0px 0.250em 0.250em rgba(0, 0, 0, 0.25)

.subtitle
        color: $place-holder-gray

.btn-success
    background-color: $primary

.btn-read-more
    background-color:$read-more-color !important
    border: 0.1em solid $read-more-color !important
    color: white !important

.btn-primary
    background-color: $apply-color
    border: 0.1em solid $apply-color


.btn-sm
    padding: 0.25em
    font-size: 0.75em

