
<div class="row border-gray radius bg-white">
    <div class="col-3 item-image">
        <img src="../../../assets/wind.png" class="radius border-gray img" alt="">
    </div>

    <div class="col-8">
        <h5 class="title">Software Developer</h5>
        <p class="value">Full time, Alameda, CA</p>
        <!-- <button type="button" class="btn btn-success btn-sm radius">Read More</button>
        <button type="button" class="btn btn-primary btn-sm radius">Apply</button> -->
    </div>
</div>
