
<div class="row border-gray radius bg-white">
    <div class="col-5 item-image">
        <img src="{{company_logo}}" class="radius border-gray img" alt="">
    </div>

    <div class="col-7">
        <h5 class="item-title-text">{{title}}</h5>
        <p class="item-description-text">{{location}},{{type}}</p>
        <button type="button" class="btn btn-success btn-sm radius">Read More</button>
        <button type="button" class="btn btn-primary btn-sm radius">Apply</button> 
    </div>
</div>
