<div class="main container">
  <div class="text-light rounded">
    <div class="home-info">
      <div class="p-5">
        <h2>Find The Job That Fits Your Life</h2>
        <h6>We connect people and job opportunities.</h6>
        <p>YouJob is a global online employment solution for people seeking jobs and the employers who need great
          people. We've been doing this for more than 20 years, and have expanded from our roots as a "job board" to a
          global provider of a full array of job seeking, career management, recruitment and talent management products
          and services.</p>
        <a class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Create FREE Account</a>
      </div>
    </div>
  </div>
  <div class="card pm-5 p-3 mt-2">
    <h4 class="text-center">Search your next job</h4>
    <div class="align-self-center">
      <ul class="search-options">
        <li class="search-option-active">Jobs</li>
        <li>Companies</li>
      </ul>
      <div>
        <form>
          <div class="row form-row align-items-center">
            <div class="col-sm-12 col-md-4">
              <label class="sr-only" for="keyword">Keyword</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><fa-icon [icon]="['fas', 'search']"></fa-icon></div>
                </div>
                <input type="text" class="form-control" id="keyword" placeholder="Keyword">
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="sr-only" for="location">Location</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><fa-icon [icon]="['fas', 'location-arrow']"></fa-icon></div>
                </div>
                <input type="text" class="form-control" id="location" placeholder="Location">
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div></div>
</div>

<!--------------Modal--------------->
<app-register></app-register>



