<div class="main container">
  <div class="text-light rounded">
    <div class="home-info">
      <div class="p-5">
        <h2>Find The Job That Fits Your Life</h2>
        <h6>We connect people and job opportunities.</h6>
        <p>YouJob is a global online employment solution for people seeking jobs and the employers who need great
          people. We've been doing this for more than 20 years, and have expanded from our roots as a "job board" to a
          global provider of a full array of job seeking, career management, recruitment and talent management products
          and services.</p>
        <a class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Create FREE Account</a>
      </div>
    </div>
  </div>
  <app-search-jobs-form></app-search-jobs-form>
</div>

<!--------------Modal--------------->
<app-register></app-register>



